*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #2d3b4d;
    --background-color: rgba(20, 20, 22, 0.7);
    --text-color: #D9D9D9;
}
body{
    background: url('background.png');
    background-repeat:no-repeat;
    background-size: cover;
    height: 300vh;

    
}
header{
    height: 60px;
    border-radius:40px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    margin:20px;
}
.nom-prénom{
    color: var(--text-color);

}
nav{
    display:flex; 
}
nav ul {
    display: flex;
    gap: 15px;
    
}
li{
    display:inline-block;
}
li a{
    text-decoration: none;
    color: var(--text-color);
}
li :hover{
    color: #D3A03E;
    transition: all 0.3 ease-in-out;
}
li button{
    background-color: #D3A03E;
    border-radius:20px;
    width:50px;
    color: #D3A03E;
    font-weight: bold;

}
.btn :hover{
    background-color:#2d3b4d;
    border-radius:20px;
    width:50px;

}

.photos{
    display:flex;
    height: 80vh;
    width:70vh;
    background-image: url('photo.jpg');
    background-size:cover;
    background-position: center;
    border-radius: 20px;

    
}
.hero{
    width:auto; 
    height: auto;
    margin:20px;
    padding:20px;
    border-radius:40px;
    display:flex;
    justify-content: space-around;
    background: var(--background-color);
}
.text h2{
    color: var(--text-color);
    font-size: clamp(1.5rem, 10vw, 5rem); 
    font-weight: 900;
    letter-spacing: -4px;      
    line-height: 0.6;         
    display: flex;
    justify-content:center;
}

.text h3{
    color: var(--text-color);
    font-size: clamp(1rem, 5vw, 2rem); 
    font-weight: 800;
    letter-spacing: -2px;      
    line-height: 0.6;         
    margin-top:40px;
}

.text h4{
    font-size:clamp(1rem, 3vw, 1.5rem);
    letter-spacing: -1px;
    color: #D3A03E;
    
}
.text h5{
    font-size:clamp(1rem,2vw,1rem);
    color: var(--text-color);
}
.title_stack{
    width:auto;
    height: auto;
    display: flex;
    justify-content:space-around;
    background-color: var(--background-color);
} 
.stack_1{
    color: #ffffff;
    display: flex;
    margin-top: 25px;
    font-size: clamp(1rem, 5vw, 2rem); 
    font-weight: 800;
    letter-spacing: -2px; 
    color: var(--text-color);
   

}
.stack_2{
    color: #ffffff;
    display: flex;
    margin-top:25px;
    font-size: clamp(1rem, 5vw, 2rem); 
    font-weight: 800;
    letter-spacing: -2px; 
    color: var(--text-color);
   
}
.stack_3{
    color: #ffffff;
    display: flex;
    margin-top:25px;
     font-size: clamp(1rem, 5vw, 2rem); 
    font-weight: 800;
    letter-spacing: -2px; 
    color: var(--text-color);

}
 .box{ 
    width:auto;
    height: 80vh;
    border-radius:40px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background: var(--background-color);
     
}
.box_1{
    display:grid;
    height:50vh;
    width:45vh;
    background-color: #ffffff;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding:20px;
   
    
}
.title_1{
    display:flex;
    
    
}

.box_2{
    display:grid;
    height:50vh;
    width:45vh;
    background-color: #ffffff;              
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding:20px;
    
}
.title_2{
    display:flex;
    justify-content: center;
}
.box_3{
    display:grid;
    height:50vh;
    width:45vh;
    background-color: #ffffff;               
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding:20px;

}
.title_3{
    display:flex;
    justify-content: center;
}



