*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #2d3b4d;
    --background-color: ;
    --text-color: #ffffff;
}
header{
    height: 60px;
    width:100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
.nom-prénom{
    color: var(--text-color);

}
nav{
    display:flex; 
}
li{
    display:inline-block;
}
li a{
    text-decoration: none;
    color: var(--text-color);
}

nav ul {
    display: flex;
    gap: 15px;
    
}


